<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Functional tests">
	<test name="Traditional all 5 tasks">
		<classes>
			<class name="hackathon.shweta.applitools.TraditionalTests" />
		</classes>
	</test>
	<test name="VisualUI all 5 tasks">
        <classes>
            <class name="hackathon.shweta.applitools.VisualAITests" />
        </classes>
    </test>
</suite>
